{% extends 'base.html.twig' %}

{% block title %}Tag create{% endblock %}

{% block content_title %}
    <h1 class="text-3xl font-bold text-slate-600">Créer un tag</h1>
{% endblock %}

{% block content %}
    {{ form(form) }}
{% endblock %}
