{% extends 'base.html.twig' %}

{% block content %}
    <h1 class="text-3xl font-bold text-slate-600">Créer une tâche</h1>
    {{ form(form) }}
    <div class="flex">
        <div class="flex" {{ react_component('Link', { 'text': 'Accueil', 'href': '/todos', 'color': 'red'})}} >...</div>
    </div>
{% endblock %}
