{% extends 'base.html.twig' %}

{% dump todos %}
{% block title %}Tasks Index{% endblock %}

{% block content %}

    <div class="flex flex-col gap-5 px-20 py-10">
        <h1 class="text-3xl font-bold">TodoList</h1>
        <div class="flex">
            <div class="flex" {{ react_component('Link', { 'text': 'Nouveau'})}} >...</div>
        </div>
        {% if todos %}
            <ul class="flex flex-col gap-5" >
                {% for todo in todos %}
                    <li class="w-full rounded-md border border-slate-200 shadow shadow-slate-200 p-5 hover:bg-blue-50 hover:cursor-pointer">
                        <div class="flex">
                            <div class="w-4/5">
                                <div class="mb-2">
                                    <p class="">{{ todo.title }}</p>
                                    <p class="text-sm font-italic text-slate-400">{{ todo.description }}</p>
                                </div>
                                <div>
                                    {% for tag in todo.tags %}
                                        <span class="text-xs font-bold uppercase px-2 py-1 bg-blue-200 text-blue-700 rounded-full">{{ tag.name }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="w-1/5 flex justify-center items-center">
                                <p class="uppercase text-sm font-bold text-slate-400">
                                    {% if todo.done %}
                                        Fait
                                    {% else %}
                                        À faire
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

{% endblock %}
